*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    font-family: 'Athiti', sans-serif;
    background: linear-gradient(90deg,#DBE2EF ,#F9F7F7 );
}   
.container{
    font-family: 'Kanit', sans-serif;
    width: auto;
    height: 200px;
    display: flex;
    background: linear-gradient(125deg,#AAC8A7 ,#FDFFAE );
    color: #1A5D1A;
    
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    padding-left: 5px;
    column-gap: 20px;
    row-gap: 20px;
    width: auto;
    height: auto;
    background: linear-gradient(90deg,#FDFFAE ,#AAC8A7 );
    
}
.main a{
    text-decoration: none;
    color: #000;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: aliceblue;
    
}
.h1{
    width: auto;
    font-size:50px;
    margin-left: 20px;
}
.h2{
    width: 700px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;    
}

.logo1 img{
    width: 150;
    border-radius: 50%;
}
.nav ul {
    font-family: 'Kanit', sans-serif;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    background: #862B0D;

    
    
}
.nav ul li {
    display: inline;
    margin-right: 25px;
}
.nav ul li a {
    text-decoration: none;
    color: #FFC95F;
}
.flower1{
    width: auto;
    height: auto;
    text-align: center;
    
}
.fw1{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    

}
.margin1{
    padding-top: 50px;
    font-size: 20px;
    padding: 10px;
}
.flower2{
    width: auto;
    height: auto;
    text-align: center;
}
.fw2{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower3{
    width: auto;
    height: auto;
    text-align: center;
}
.fw3{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower4{
    width: auto;
    height: auto;
    text-align: center;
}
.fw4{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower5{
    width: auto;
    height: auto;
    text-align: center;
}
.fw5{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower6{
    width: auto;
    height: auto;
    text-align: center;
}
.fw6{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower7{
    width: auto;
    height: auto;
    text-align: center;
}
.fw7{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower8{
    width: auto;
    height: auto;
    text-align: center;
}
.fw8{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower9{
    width: auto;
    height: auto;
    text-align: center;
}
.fw9{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower10{
    width: auto;
    height: auto;
    text-align: center;
}
.fw10{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower11{
    width: auto;
    height: auto;
    text-align: center;
}
.fw11{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower12{
    width: auto;
    height: auto;
    text-align: center;
}
.fw12{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower13{
    width: auto;
    height: auto;
    text-align: center;
}
.fw13{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower14{
    width: auto;
    height: auto;
    text-align: center;
}
.fw14{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower15{
    width: auto;
    height: auto;
    text-align: center;
}
.fw15{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower16{
    width: auto;
    height: auto;
    text-align: center;
}
.fw16{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower17{
    width: auto;
    height: auto;
    text-align: center;
}
.fw17{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower18{
    width: auto;
    height: auto;
    text-align: center;
}
.fw18{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower19{
    width: auto;
    height: auto;
    text-align: center;
}
.fw19{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower20{
    width: auto;
    height: auto;
    text-align: center;
}
.fw20{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower21{
    width: auto;
    height: auto;
    text-align: center;
}
.fw21{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.flower22{
    width: auto;
    height: auto;
    text-align: center;
}
.fw22{
    width: 100% ;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;

}
.article{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    background: linear-gradient(90deg,#DBE2EF ,#F9F7F7 );
    
}
.article p{
    padding-top: 20px;
    text-align: justify;
}
.herball{
    background: linear-gradient(90deg,#DBE2EF ,#F9F7F7 );       
}
.herb{
    margin-top: 20px;
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom: 50px;
    
}
.herb h3{
    font-size: 30px;
}
.herb p{
    font-size: 20px;
    text-align: center
    
}
.herb img{
    width: 500px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    font-size: 15px;
}
.about{
    margin-left: 30px;
}
.contact{
    margin-left: 30px;
}




    



